name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version to be added'
        required: true
        type: string

jobs:
  release:
    permissions:
      contents: write
    uses: fizyk/actions-reuse/.github/workflows/shared-release.yml@main
    with:
      version: ${{ inputs.version }}
