name: Run test commands

on:
  workflow_call:
    inputs:
      python-version:
        default: "3.14"
        required: false
        type: string

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - uses: fizyk/actions-reuse/.github/actions/pipenv@v4.3.0
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: false
          command: tbump --dry-run --only-patch $(pipenv run tbump current-version)"-x"
  towncrier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: fizyk/actions-reuse/.github/actions/pipenv@v4.3.0
        if: ${{ !contains(fromJSON('["dependabot[bot]","pre-commit-ci[bot]"]'), github.actor) }}
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: false
          command: towncrier check --compare-with origin/${{ github.base_ref }}
